{% extends "base.html" %}
{% block content %}

    <div class="container border border-info w-100">
      <div class="row">
        {% for movie in movies %}

        <div class="col text-center border border-warning">
            <p>Movie Title</p>
            <p>{{movie.name}}</p>
            <p> year: {{movie.year}}</p>
            <p>price: {{movie.price}}</p>
            <p> <img src="{{movie.image.url}}" class="img-fluid" alt="">pic </p>
            <button>
                <a href="{% url 'cart_add' movie.id %}">Add To Cart</a>
          </button>
          </div>


        {% endfor %}
      </div>

    </div>

{% endblock content%}